// scss for frontend integration AllezCine
// color website
$colorRed : #FF4037;
$colorGrey : #4B5155;
$colorClear : #F2F0F1;

html {
}

body {
    margin: 0 auto;
    max-width: 850px;
}
.wrapper {
    width: 600px;
}

.connectBar {
    widows: 100%;
    height: 40px;
    background: $colorRed;
    margin-bottom: 10px;
}


// section New Movie
.newsMovie, .featuredMovies {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
            .movieContainer {
                display: flex;
                justify-content: space-between;
                color: black;
                padding: 20px;
                height: fit-content;
                border-radius: 5px;
                border: 2px solid #F2F2F2;
                .affiche {
                    height: 100px;
                    width: 180px;
                    height: fit-content;
                    padding: 0;
                    margin: 0;
                    color: $colorGrey;
                    img {
                        width: 110px;
                        height: 170px;
                    }
                    .title {
                        font-size: 0.8em;
                        margin-bottom: 0;
                        text-align: center;
                    }
                    .date, .genre {    
                        font-size: 0.6em;
                        text-align: left;
                        width: 45%;
                        display: inline-block;
                        margin: 0;
                    }
                    .genre {
                        text-align: right;
                        font-weight: 700;
                    }
            }

            }
}
.featuredMovies {
    .genre {
        visibility: hidden;
    }
}

/* modal */