//variable
$grena: #e9383f;


body{
    //Section Contact-US
    .contactDIV{
        //debug
        border: 3px solid green;
        width: 100%;
        height: 50vh;
        .contactTitle{
            height: 20%;
            .H3ContactTitle{
                //debug
                border-left: 5px $grena solid;
                width: 25%;
                height: 100%;
                margin-left: 07%;
                padding-left: 01%;
                font-weight: bold;
            }
        }
    }
}
