/* line 10, ../sass/style.scss */
body {
  margin: 0 auto;
  max-width: 850px;
}

/* line 14, ../sass/style.scss */
.wrapper {
  width: 600px;
}

/* line 18, ../sass/style.scss */
.connectBar {
  widows: 100%;
  height: 40px;
  background: #FF4037;
  margin-bottom: 10px;
}

/* line 27, ../sass/style.scss */
.newsMovie, .featuredMovies {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 34, ../sass/style.scss */
.newsMovie .movieContainer, .featuredMovies .movieContainer {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 20px;
  height: fit-content;
  border-radius: 5px;
  border: 2px solid #F2F2F2;
}
/* line 42, ../sass/style.scss */
.newsMovie .movieContainer .affiche, .featuredMovies .movieContainer .affiche {
  height: 100px;
  width: 180px;
  height: fit-content;
  padding: 0;
  margin: 0;
  color: #4B5155;
}
/* line 49, ../sass/style.scss */
.newsMovie .movieContainer .affiche img, .featuredMovies .movieContainer .affiche img {
  width: 110px;
  height: 170px;
}
/* line 53, ../sass/style.scss */
.newsMovie .movieContainer .affiche .title, .featuredMovies .movieContainer .affiche .title {
  font-size: 0.8em;
  margin-bottom: 0;
  text-align: center;
}
/* line 58, ../sass/style.scss */
.newsMovie .movieContainer .affiche .date, .newsMovie .movieContainer .affiche .genre, .featuredMovies .movieContainer .affiche .date, .featuredMovies .movieContainer .affiche .genre {
  font-size: 0.6em;
  text-align: left;
  width: 45%;
  display: inline-block;
  margin: 0;
}
/* line 65, ../sass/style.scss */
.newsMovie .movieContainer .affiche .genre, .featuredMovies .movieContainer .affiche .genre {
  text-align: right;
  font-weight: 700;
}

/* line 74, ../sass/style.scss */
.featuredMovies .genre {
  visibility: hidden;
}

/* modal */
